<?php

use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Capsule\Manager as DB;

class $className extends $baseClassName
{

    public function up()
    {
        //
    }
    
    public function down()
    {
        //
    }

}
